@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #e7f0f3;
}

h1, h2 {
    font-family: Parkinsans, sans-serif;
    text-align: center;
    color: grey;
}

p {
    font-family: arial, sans-serif;
    color: grey;
}

#title {
    margin-top: 60px;
}

.sub-heading {
    color:grey;
    text-align: center;
    font-size: larger;
    margin-bottom: 60px;
}

#img-div {
    background-color: white;
    max-width: 80%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

#image {
    border-radius: 10px;
    max-width: 100%;
}

#img-caption {
    text-align: center;
    margin-top: 20px;
    font-family: arial, sans-serif;
}

h2 {
    margin-top: 50px;
}

.paragraph {
    width: 50%;
    margin: auto;
    line-height: 160%
}

ul {
    font-family: arial, sans-serif;
    color: grey;
}

.wikipedia-link {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: rgb(15, 95, 187)
}