@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #e7f0f3;
}

h1, h2 {
    font-family: Parkinsnas, sans-serif;
    text-align: center;
    color: grey;
}

p {
    font-family: arial, sans-serif;
    color: grey;
}

#title {
    margin-top: 60px;
}

.sub-heading {
    color:grey;
    text-align: center;
    font-size: larger;
    margin-bottom: 60px;
}

#img-div {
    background-color: white;
    max-width: 80%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

#image {
    border-radius: 10px;
    max-width: 100%;
}